@charset "UTF-8";

html {
	font-size: 62.5%;
}

body {
	color: dimgray;
	background-color: floralwhite;
	font-size: 1.4rem;
	margin: 0 2.5rem 0;
	width: 640px; /* 暫定値 */
}

header {
	border-bottom: 3.5px dimgray double;
}

footer {
	margin: 2.4rem 0 0 0;
	padding: 1.6rem 0 0 0;
	border-top: 1px dimgray solid;
	font-size: 1.4rem;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
}

table th, table td {
	padding: 0.25rem 0.75rem;
	text-align: center;
}

table td:nth-child(3) {
	text-align: left;
}

label {
	font-weight: bolder;
}

label[for]::after {
	content: ":";
}

form input[name="name"] {
	width: 17.85rem;
}

form input[name*="hiredAt"] {
	width: 7.5rem;
}

form button {
	margin-top: 0.75rem;
	/* margin: 0.25rem 0 0 5.0rem; */
}

.criteria th, 
.criteria td {
	padding: 0 0.25rem;
}
.criteria th, 
.criteria td,
.criteria td[colspan] {
	text-align: left;
}
