# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS / ローカル
# =========================
.DS_Store
Thumbs.db

# Office / LibreOffice のロックファイル
~$*
.~lock.*

# ログ・一時ファイル
temp/
*.log
*.swp
*.bak


# Sass キャッシュ
.sass-cache/
